CompileFlags:
  CompilationDatabase: editor/build/Ninja_RelWithDebInfo/ninja

Hover:
  ShowAKA: Yes

InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Diagnostics:
  Suppress: 
    - unused-includes
    - -Wparentheses
  ClangTidy:
    #Add: [performance*, modernize*, readability*]
    Add: [modernize*]
    Remove: modernize-use-trailing-return-type
    CheckOptions:
      IgnoreMacros: true
      readability-identifier-naming.VariableCase: CamelCase